body{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.limits{
  width: 80px;
}
.accuracy{
  width: 100px;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
#dichotomyAnswer{
  display: none;
}
#newtonsAnswer{
  display: none;
}
#fixedpointAnswer{
  display: none;
}
