# IntelliJ Idea system files
**/.idea
**/*.iml
**/out/
**/production/

# OS X system files
**/.DS_Store

# Visual Studio Build files
**/bin/
**/obj/
**/*.csproj
**/*.sln
**/*.userprefs
**/*.user
**/AssemblyInfo.cs

# NodeJS files
node_modules/

**/verylongfile.txt
