@{
    ViewData["Title"] = "Додавання книги";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head></head>
<body>
    <h2 class="text-success">Книгу успішно додано!</h2>
    <h4><a href="~/home" class="hyperlink">На головну</a></h4>
    <h4><a href="~/filter" class="hyperlink">До списку публікацій</a></h4>
</body>
</html>
