@{
    ViewData["Title"] = "Видалення";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head></head>
<body>
    <h2 class="text-warning">Ви справді хочете видалити?</h2>
    <form method="get" action="~/delete/result">
        <input type="number" hidden="hidden" name="id" value=@ViewBag.ID />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Так, видалити" />
            <input type="submit" class="btn btn-default" onclick="goBack()" value="Назад" />
        </div>
    </form>
</body>
</html>