@{
    ViewData["Title"] = "Редагування";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html><head>
</head>
<body>
    <h2>Книгу успішно відредаговано!</h2>
    <h4><a href="~/home" class="hyperlink">На головну</a></h4>
    <h4><a href="~/filter" class="hyperlink">До списку публікацій</a></h4>
</body>
</html>
