@{
    ViewData["Title"] = "Електронний архів";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head></head>
<body>
    <h2 class="text-success">Електронний архів університету</h2>
    <div class="form-group">
        <h4><a href="~/filter" class="hyperlink">Список публікацій</a></h4>
        <h4><a href="~/add" class="hyperlink">Додати книгу</a></h4>
        <h4><a href="~/filter" class="hyperlink">Фільтр</a></h4>
        <h4><a href="~/search" class="hyperlink">Пошук</a></h4>
    </div>
</body>
</html>

