################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Migrations
/node_modules
*.xproj
*.user
/Project_Readme.html
/Properties/PublishProfiles
