<div class="form-group">
  <label for="dimension" class='text text-default'>Кількість змінних:</label>
  <input type="number" name="dimension" id="dimension" class='form-control' ng-model='dimension'>
</div>
<div class="form-group">
  <label for="precision" class='text text-default'>Округлення відповіді(кількість знаків після коми):</label>
  <input type="number" name="precision" id="precision" class='form-control' ng-model='precision'>
</div>
<button class='btn btn-default' ng-click="solveGauss()">Рахувати</button>
<button class='btn btn-default' ng-show="answer" ng-click="toggleTable()"><span ng-show="toggle">Сховати</span><span ng-show="!toggle">Показати</span> відповідь</button>
<table ng-show="toggle">
  <tr ng-repeat="matrixRow in matrix">
    <td ng-repeat="elem in matrixRow track by $index">
      {{elem}}&nbsp;
    </td>
  </tr>
</table>
